#click {
    width: 100px;
    height: 100px;
    background: greenyellow;
    border-radius: 50%;
    padding-bottom: 5px;
}


#clock {
    width: 100px;
    height: 100px;
    background: aqua;
    border: 1px solid blue;
    border-radius: 50%;
    text-align: center;
}